# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Media and static files (optional, if you want to exclude user uploads and collected static files)
media/
staticfiles/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# macOS files
.DS_Store

# Environment variables file
.env
